@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

  .font{
    font-family: "Azeret Mono", monospace;
    
  }
    

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

    .banner-image{
        height: 652px;
        width: 1920px;
        border: 2px solid red;
        background-image: url('/assets/Hero-bg.png');
        margin: 0 auto;

    }
    .image-container{
        height: 50%;
        width: 1920px;
        border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .text-container h1{
    margin-left: 400px;
    margin-bottom: 40px;
  }
  .text-container p{
    margin-left: 460px;
    margin-right: 460px;
    margin-bottom: 50px;
  }
  .text-container button{
    margin-left: 850px;
    width: 208px;
    height: 66px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
  }
  .poster-container{
    width: 1140px;
    height: 1393px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 74px;
    padding: 80px 140px;
  }
  /* poster design hare */
  .poster-text-container{
    width: 852px;
    height:10%;
    border: 2px solid red;
  }
  .poster-text-container h1{
    margin-left: 270px;
    margin-bottom: 22px;
    color: color: rgb(13, 19, 33);
  }
  .poster-image-content-one{
    width: 850px;
    height: 30%;
    border: 2px solid blue;
    display: flex;
    padding: 7%;
    
  }
  .poster-image-content-one-text h1{
     font-size: medium;
     margin-bottom: 40px;
     margin-top: 5px;
     margin-left: 5px;
  }
  .poster-image-content-one-text p{
    margin-right: 70px;
  }
 
  .poster-image-content-one-text button{
    width: 150px;
    height: 48px;
    margin: 40px 0px 20px 10px;
    background-color: transparent;
    border: 1px solid rgb(49, 46, 46);
  }
  .poster-image-content-two{
    width: 850px;
    height: 30%;
    border: 2px solid red;
    
}
.poster-image-content-two{
    width: 850px;
    height: 30%;
    border: 2px solid blue;
    display: flex;
    padding: 7%;
    
}

.poster-image-content-two-text h4{
   margin: 30px;
}
.poster-image-content-two-text p{
    margin: 30px;
} 

.poster-image-content-two-text button{
    width: 150px;
    height: 48px;
    margin-left: 270px;
    background-color: transparent;
    border: 1px solid rgb(49, 46, 46);}